{% extends 'base.html' %}
{% block content %}
 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>

    <div class="container">
    <div class="row">

            <center>
                 <div class="col-8">
                     <br></br>
                     <p align="justify">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet neque vel diam efficitur pellentesque. Nam dolor risus, luctus a fringilla nec, volutpat rhoncus libero. Cras dignissim turpis purus, et efficitur orci rutrum sed. Morbi bibendum lacus et ornare congue. Proin mauris eros, facilisis non elit nec, vehicula vulputate enim. Vivamus varius lorem non volutpat elementum. Phasellus fermentum mattis purus, et efficitur massa pretium at. Maecenas eleifend venenatis erat, non sodales nulla fermentum non. Phasellus pharetra quam sit amet libero dictum, at blandit nisi efficitur. Sed id tortor eu ante scelerisque aliquet. Duis viverra ullamcorper ipsum ac placerat. Duis sit amet erat in risus posuere accumsan eget vitae elit. Proin a magna lectus. Nullam lacinia laoreet facilisis.
<br></br>
Duis id enim id sapien lacinia porta. Phasellus aliquam nec quam feugiat consectetur. Fusce in magna justo. Phasellus eget pharetra ante, quis pellentesque eros. Sed id augue placerat, fermentum tellus sit amet, egestas tortor. Fusce dapibus urna neque, eu pharetra leo finibus in. Curabitur a nibh consectetur, suscipit libero id, condimentum lorem. Nam viverra nec lorem at cursus. Nullam dignissim, nisi at vehicula sagittis, felis ipsum porttitor nisi, a accumsan justo urna in mauris.
                         <br></br>
Quisque ut velit venenatis, molestie metus ut, iaculis eros. Maecenas elementum nulla ut tortor malesuada, quis finibus orci maximus. Praesent id urna lorem. Sed eros ipsum, pharetra quis lacus eu, ullamcorper semper odio. Nam tincidunt lacinia quam, at faucibus est tincidunt non. Fusce ac ex felis. Proin tellus ligula, dictum venenatis dapibus ut, dignissim vel sapien.
                    </p>
                     <br></br>
                     </div>
            </center>

    </div>
    </div>
{% endblock %}